{% extends 'mainpage/index.html' %}
{% load static %}
{#{% block intro %}#}
{#    <div class="intro">#}
{#        <h1 class="logo-header">#}
{#            <span class="logo">Блог</span>#}
{#            <br>#}
{#        </h1>#}
{#    </div>#}
{#{% endblock %}#}
{% block content %}

    <main>
        <div class="blog-page">
            <div class="blog-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper blog-page-swiper">
                    <!-- Slides -->
                    {% for p in posts %}
                        <div class="swiper-slide">
                            <a href="{% url 'post' p.slug %}" class="hover-text">
                                <div class="block_2">
                                    <p>{{ p.title }}</p>
                                </div>
                                <img src="{{ p.photo.url }}" alt="" class="work-image">
                            </a>
                        </div>

                    {% endfor %}
                    <div class="swiper-slide empty-slide half-slide">


                    </div>
                </div>


                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                {#                <!-- If we need navigation buttons -->#}
                {#                <div class="swiper-button-prev"></div>#}
                {#                <div class="swiper-button-next"></div>#}
                {##}
                {#                <!-- If we need scrollbar -->#}
                {#                <div class="swiper-scrollbar"></div>#}
            </div>

        </div>
        </div>
    </main>
{% endblock %}