{% extends 'mainpage/index.html' %}
{% load static %}
{#{% block intro %}#}
{#    <div class="intro">#}
{#        <h1 class="logo-header">#}
{#            <span class="logo">Контакты</span>#}
{#            <br>#}
{#        </h1>#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}

    <main>
        <div class="contacts-page">
            <div class="contacts-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper contacts-page-swiper">
                    <!-- Slides -->
                    <div class="swiper-slide black">
                        <div class="contacts-container">
                            <a href="#" class="title-name-link"><h1 style="color: #007aff" class="contacts-title t1">Vk</h1></a>
                            <a href="#" class="title-name-link"><h1 style="color: #E5E4E2" class="contacts-title t2">Tg</h1></a>
                            <a href="#" class="title-name-link"><h1 style="color: crimson" class="contacts-title t1">Hh</h1></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

{% endblock %}