{% extends 'mainpage/index.html' %}
{% load static %}
{#{% block intro %}#}
{#    <div class="intro">#}
{#        <h1 class="logo-header">#}
{#            <span class="logo">Контакты</span>#}
{#            <br>#}
{#        </h1>#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}

    <main>
        <div class="contacts-page">
            <div class="contacts-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper contacts-page-swiper">
                    <!-- Slides -->
                    <div class="swiper-slide ">
                        <div class="constelacao"></div>
                        <h1 style="color: #E5E4E2">Контакты</h1>
                    </div>

                </div>
            </div>

        </div>
    </main>

{% endblock %}