{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mikhail's Portfolio</title>

    <script src="{% static 'js/gsap.min.js' %}" defer></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}" defer></script>
    <script src="{% static 'js/ScrollSmoother.min.js' %}" defer></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">

</head>
<body>
<header class="header">
    <a href="" class="header__logo">Панин</a>
    <div class="header__menu menu">
        <div class="menu__icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="menu__body">
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link">Работы</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Блог</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                <li class="menu__item"><a href="#" class="menu__link__btn">
                    <button class="menu__item__btn">Обратная связь</button>
                </a></li>

            </ul>
        </nav>
    </div>
    <a href="#" class="login__ico"><img src="{% static 'img/user.png' %}" alt="usr"></a>
    <a href="#" class="btn__link">
        <button class="func__button">Обратная связь</button>
    </a>
</header>

<main>
    <section id="about" class="main">
                <div class="text-container"><h1>Добро пожаловать</h1></div>
{#        <div class="tickerwrapper">#}
{#            <ul class='list'>#}
{#                <li class='listitem'>#}
{#                    <span>Михаил</span>#}
{#                </li>#}
{#                <li class='listitem'>#}
{#                    <span>Михаил</span>#}
{#                </li>#}
{#                <li class='listitem'>#}
{#                    <span>Михаил</span>#}
{#                </li>#}
{#                <li class='listitem'>#}
{#                    <span>Михаил</span>#}
{#                </li>#}
{#                <li class='listitem'>#}
{#                    <span>Михаил</span>#}
{#                </li>#}
{##}
{#            </ul>#}
{#        </div>#}

    </section>

    <section class="carousel">
        <div class="carousel__title"><h1 class="carousel-title">Мои работы</h1></div>
        <div class="content">
            <div class="slider center">
                <div>
                    <div class="slider-image">
                        <img src="{% static 'img/мы.jpg' %}"/>
                        <h3>Красивая пара</h3>
                    </div>
                </div>

                <div>
                    <div class="slider-image">
                        <img src="{% static 'img/кэт.jpg' %}"/>
                        <h3>Уставший котик</h3>
                    </div>
                </div>

                <div>
                    <div class="slider-image">
                        <img src="{% static 'img/мы.jpg' %}"/>
                        <h3>Снова красивая пара</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>


</main>

<hr>
<footer>
    <div class="copyright">© М. С. Панин, 2023</div>
    <div class="copyright">Никто здесь не «продается», потому что нечего продавать.</div>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.4.min.js ' %}"></script>
<script src="{% static 'js/slick.min.js ' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>