{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
</head>

<body class="body">

{#{% block intro %}#}
{#{% endblock %}#}
<header class="header">
    <a href="{% url 'home' %}" class="header__logo">Панин</a>
    <div class="header__menu menu">
        <div class="menu__icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="menu__body">
            <ul class="menu__list">
                <li class="menu__item"><a href="{% url 'works' %}" class="menu__link">Работы</a></li>
                <li class="menu__item"><a href="{% url 'blog' %}" class="menu__link">Блог</a></li>
                <li class="menu__item"><a href="{% url 'contacts' %}" class="menu__link">Контакты</a></li>
                <li class="menu__item menu__link__btn"><a href="{% url 'hello' %}" class="menu__link__btn">
                    <button class="menu__item__btn">Сказать-привет</button>
                </a></li>

            </ul>
        </nav>
    </div>
    <a href="#" class="login__ico"><img src="{% static 'img/user.png' %}" alt="usr"></a>
    <a href="{% url 'hello' %}" class="btn__link">
        <button class="func__button">Сказать-привет</button>
    </a>
</header>


{% block content %}
{% endblock %}

<footer>
    <div class="copyright">© М. С. Панин, 2023</div>
</footer>

{#<div class="main__list">#}
{#</div>#}
<script src="{% static 'minjs/swiper-bundle.min.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>