{% extends 'mainpage/index.html' %}
{% load static %}




{% block content %}

    <main>
        <div class="main-page">
            <div class="main-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper main-page-swiper">
                    <!-- Slides -->
                    <div class="swiper-slide ">
                        <div class="constelacao"></div>
                        <div class="me-image-container">
                            <img src="{% static 'img/Я2.jpg' %}" alt="Технические чоколадки" class="me-image">
                            <div class="title-text">
                                <h1 class="title-name">Миша Панин.</h1>
                                <h1 class="title-name">Разработчик</h1>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide empty-slide half-slide">
                        <div class="half-element-5">

                        </div>
                        <div class="half-element">

                        </div>
                    </div>

                </div>

                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                {#                <!-- If we need navigation buttons -->#}
                {#                <div class="swiper-button-prev"></div>#}
                {#                <div class="swiper-button-next"></div>#}
                {##}
                {#                <!-- If we need scrollbar -->#}
                {#                <div class="swiper-scrollbar"></div>#}
            </div>

        </div>
    </main>
{% endblock %}