{% extends 'mainpage/index.html' %}
{% load static %}
{% block content %}


    <main>
        <section id="about" class="main">
            <div class="con">
                <div class="con-inner">
                    <div data-w-id="f4174f87-976f-7441-acfb-3823094774f1" class="show show">
                        <div data-w-id="4a60c6da-1620-cbd5-2d86-a357f839beb6"
                             style="transform: translate3d(0px, 0%, 0px) scale3d(1.03, 1.03, 1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
                             class="loop-text-holder outlined">
                            <div class="header-text-holder outlined">
                                <div data-w-id="f9d8e6b0-cc71-f129-ba5e-b8c3f4acb4af"
                                     style="transform: translate3d(-11.6388%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
                                     class="loop-auto-size">
                                    <div class="h1-loop-holder">
                                        <h1 class="header-h1 outlined _2"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            Панин</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1 class="header-h1 outlined _2"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            Панин</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1 class="header-h1 outlined _2"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            Панин</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1 class="header-h1 outlined _2"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            Панин</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1 class="header-h1 outlined _2"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            Панин</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1 class="header-h1 outlined _2"
                                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            Панин</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-image-holder"
                             style="will-change: transform; transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="image-canvas-holder">
                                <div class="canvas-embed w-embed w-script">
                                    <canvas id="canvas" width="474" height="710"></canvas>


                                </div>
                                <img
                                        src="{% static 'img/Я2.jpg' %}"
                                        width="1230" sizes="(max-width: 479px) 94vw, 98vw"
                                        srcset="{% static 'img/Я2.jpg' %}"
                                        alt="" class="me-image">
                            </div>
                        </div>

                        <div data-w-id="d81c9655-e937-90a9-5991-df3e97d2af6e"
                             style="transform: translate3d(0px, 0%, 0px) scale3d(1.03, 1.03, 1) rotateX(0deg) rotateY(0deg) rotateZ(5deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
                             class="loop-text-holder">
                            <div class="header-text-holder">
                                <div data-w-id="d81c9655-e937-90a9-5991-df3e97d2af70" class="loop-auto-size"
                                     style="transform: translate3d(-5.02783%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    <div class="h1-loop-holder">
                                        <h1
                                                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                class="header-h1 _2">Михаил</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1
                                                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                class="header-h1 _2">Михаил</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1
                                                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                class="header-h1 _2">Михаил</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1
                                                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                class="header-h1 _2">Михаил</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1
                                                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                class="header-h1 _2">Михаил</h1>
                                    </div>
                                    <div class="h1-loop-holder">
                                        <h1
                                                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                                class="header-h1 _2">Михаил</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="carousel">
            <div class="carousel__title"><h2 class="carousel-title">Последние работы</h2></div>
            <div class="content">
                <div class="slider center">
                    {% for w in works %}
                        <div>
                            <a href="#" class="portfolio-link">
                                <div class="slider-image">

                                    <img src="{{ w.photo.url }}" alt=""/>
                                    <h3>{{ w.title }}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>

    </main>

{% endblock %}