{% extends 'mainpage/index.html' %}
{#{% block intro %}#}
{#    <div class="intro">#}
{#        <h1 class="logo-header">#}
{#            <span class="logo">Привет</span>#}
{#            <br>#}
{#        </h1>#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}

    <div class="hello-page">
        <div class="hello-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper contacts-page-swiper">
                <!-- Slides -->
                <div class="swiper-slide ">
                    <div class="constelacao"></div>
                    <h1 style="color: #E5E4E2">Привет</h1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}