{% extends 'mainpage/index.html' %}
{% load static %}

{% block content %}

    <main>
        <div class="portfolio-page">
            <div class="portfolio-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper work-item-page-swiper">
                    <!-- Slides -->
                    <div class="swiper-slide ">
                        <div class="me-image-container">
                            <img src="{{ works.photo.url }}" alt="Технические чоколадки" class="me-image">
                            <div class="title-text-description">
                                <h1 class="title-of-work ">{{ works.title }}</h1>
                                <p class="description-name ">{{ works.description }}</p>
                                {#                                <h1 class="title-name t2">Разработчик.</h1>#}

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide empty-slide half-slide">
                        <div class="half-element-5">

                        </div>
                        <div class="half-element">
                            <div class="description-container">
                                <div class="title-text">
                                    <h1 class="description" style="">Для меня нет ничего невозможного!</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    {#                <!-- If we need navigation buttons -->#}
                    {#                <div class="swiper-button-prev"></div>#}
                    {#                <div class="swiper-button-next"></div>#}
                    {##}
                    {#                <!-- If we need scrollbar -->#}
                    {#                <div class="swiper-scrollbar"></div>#}
                </div>

            </div>
        </div>

    </main>
{% endblock %}